<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Abida Investiment Co. LTD</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">
    <link rel="shortcut icon" href="./images/wisjane-logo.ico" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <script data-ad-client="ca-pub-4697597730958440" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }


        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .footer-links {
            flex: space-between;
        }
    </style>
    <!-- Custom styles for this template -->
    
</head>

<body oncontextmenu="return false">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning" id="myHeader">
            <a class="navbar-brand" href="#"
                style="font-family:verdana;font-size: 21px; color: rgb(255, 255, 255)">ABIDA
                INVESTIMENT
                Co.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto" id="#mainNav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#products">Services</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#aboutus">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#recent"> Recent Project</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#footer">Contacts</a>
                    </li>
                
                </ul>
            </div>
        </nav>
        <main role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/1.jpg" data-color="blue" alt="First Image">
                        <div class="carousel-caption d-md-block">
                            <h5>Civil Works</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/2.jpg" data-color="firebrick" alt="Second Image">
                        <div class="carousel-caption d-md-block">
                            <h5>Building Works</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/3.jpg" data-color="violet" alt="Third Image">
                        <div class="carousel-caption d-md-block">
                            <h5>Professional Building Finishes</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/7.jpg" data-color="violet" alt="fourth Image">
                        <div class="carousel-caption d-md-block">
                            <h5>Welding</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/8.jpg" data-color="violet" alt="fifth Image">
                        <div class="carousel-caption d-md-block">
                            <h5>Fabrications</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/3.jpg" data-color="violet" alt="sixthImage">
                        <div class="carousel-caption d-md-block">
                            <h5>Filter Mechanics</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="/images/4.jpg" data-color="violet" alt="seventh Image">
                        <div class="carousel-caption d-md-block">
                            <h5>Constructions Related Works</h5>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="jumbotron">
                <div class="container" id="aboutus">
                    <h2 class="display-5">ABIDA INVESTIMENT Co. Ltd</h2>
                    <p>ABIDA INVESTIMENT Co. Ltd, is the leading Construction company that its operations are in
                        Tanzania main
                        land, Head offices located at KAHAMA, TANZANIA.
                        To gain company intelligence on competitors and top performers in the industry is the key to
                        increase productivity and innovability.
                    </p>
                </div>
            </div>
            <section class="services-area section-padding row-nav" id="products">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="section-title text-center" id='services-header'>
                                <h2>Our Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="single-serviecs-block">
                                <i class="fa fa-building"></i>
                                <h3><a>Civil Works</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="single-serviecs-block">
                                <i class="fa fa-gears"></i>
                                <h3><a>Building Works</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="single-serviecs-block">
                                <i class="fa fa-gears"></i>
                                <h3><a>Building Finishes</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="single-serviecs-block">
                                <i class="fa fa-bullseye"></i>
                                <h3><a>Welding</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="single-serviecs-block">
                                <i class="fa fa-industry"></i>
                                <h3><a>Fabrications</a></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="single-serviecs-block">
                                <i class="fa fa-microchip"></i>
                                <h3><a>Filter Mechanics </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/Services Area-->
            <!-- services -->
            <section id="services">

                <div class="container">
                    <div class="row">

                        <div class="services-individual-box col-md-3 col-sm-6">
                            <h3>Safety First</h3>
                            <i class="fa fa-4x fa-warning"></i>
                        </div>
                        <div class="services-individual-box col-md-3 col-sm-6">
                            <h3>Professional</h3>
                            <i class="fa fa-4x fa-cog"></i>
                        </div>

                        <div class="services-individual-box col-md-3 col-sm-6">
                            <h3>sustainability</h3>
                            <i class="fa fa-4x fa-spinner"></i>
                        </div>
                        <div class="services-individual-box col-md-3 col-sm-6">
                            <h3>Get Support</h3>
                            <i class="fa fa-4x fa-support"></i>
                        </div>

                    </div>
                </div>
            </section>
            <hr>
            <br>
            <div class="conta" id="recent">
            </div>
            <h2 class="container">OUR RECENT PROJECT</h2>
            <div class="images">
                <img src="/images/1.jpg" alt="" width="300" height="200">
                <img src="/images/2.jpg" alt="" width="300" height="200">
                <img src="/images/6.jpg" alt="" width="300" height="200">
            </div>
            <div class="images">
                <img src="" alt="" width="300" height="300">
            </div>
            

            <div id="image-viewer">
                <span class="close">&times;</span>
                <img class="modal-content" id="full-image">
            </div>
            <br>
            <hr>


            <a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><i class="fa fa-arrow-up"></i></a>
            <footer class="container text-center row-nav" id="footer">
                <p>&copy; ABIDA INVESTIMENT Co. LTD - 2020</p>
            </footer>
        </main>
    </div>

    <!-- Site footer -->
    <footer class="site-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">ABIDA INVESTIMENT Co. Ltd, is the leading Construxtion company that its
                        operations are in Tanzania main
                        land, Head offices located at KAHAMA, TANZANIA.
                        To gain company intelligence on competitors and top performers in the industry is the key to
                        increase productivity and innovability.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li>Civil Works</li>
                        <li>Bulding Works</li>
                        <li>Professional Building Finishes</li>
                        <li>Welding</li>
                        <li>Fabrications</li>
                        <li>Filter Mechanics</li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li>
                            <a href="#aboutus">About Us</a>
                        </li>
                        <li>
                            <a href="tel:+255759359800">+255759359800</a>
                        </li>
                        <li>
                            <a href="/upload">Gallery</a>
                        </li>
                        <li>
                            <div align="center" class="socialbtns" >
                                <ul>
                                    <li><a href="facebook" class="fa fa-facebook"></a></li>
                                    <li><a href="instagram" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <hr id="hr">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved
                        <a href="https://abidainvestiment.co.tz">ABIDA INVESTIMENT Co. LTD</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a href="">Kahama P.O Box 84, Tanzania</a>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12" id="email">
                    <a href="mailto:abidainvestiment@gmail.com">
                        abidainvestiment@gmail.com
                    </a>
                </div>
            </div>
        </div>

    </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script>
        window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="./bootstrap/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./bootstrap/js/img_viewer.js"></script>
    <script src="./bootstrap/js/cssobfuscated.js" id="clqmpfnjmibdttunjq5cgrj4m401opyx"></script>
    <script src="./bootstrap/js/style.js"></script>
    <script src="./bootstrap/js/scroll.js"></script>
    <script src="./bootstrap/js/portifolio.js"></script>
    <script src="./bootstrap/js/sticky.js"></script>

    <script>
        var link = document.getElementById("back-to-top");
        var amountScrolled = 250;

        window.addEventListener('scroll', function (e) {
            if (window.pageYOffset > amountScrolled) {
                link.classList.add('show');
            } else {
                link.className = 'back-to-top';
            }
        });
        link.addEventListener('click', function (e) {
            e.preventDefault();

            var distance = 0 - window.pageYOffset;
            var increments = distance / (500 / 16);

            function animateScroll() {
                window.scrollBy(0, increments);
                if (window.pageYOffset <= document.body.offsetTop) {
                    clearInterval(runAnimation);
                }
            };
            // Loop the animation function
            var runAnimation = setInterval(animateScroll, 16);
        });


    </script>
    <script>
        document.onkeydown = function(e) {
                if (e.ctrlKey && 
                    (e.keyCode === 67 || 
                     e.keyCode === 86 || 
                     e.keyCode === 85 || 
                     e.keyCode === 117)) {
                    return false;
                } else {
                    return true;
                }
        };
        $(document).keypress("u",function(e) {
          if(e.ctrlKey)
          {
        return false;
        }
        else
        {
        return true;
        }
        });
    </script>
</body>

</html>